# Database
/database/database.sqlite

# Storage & Logs
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Bootstrap Cache
/bootstrap/cache/*

# Dependencies
/vendor/
/node_modules/

# Environment Variables
.env

# System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
